# Ignore practice files
Projects/Daneshkar/Practices/Pr.css
Projects/Daneshkar/Practices/Pr.html
 Projects/Daneshkar/Practices/P2/Practice2.css
 Projects/Daneshkar/Practices/P2/Practice2.html

# Ignore full folders
reactjs-html-course/
