* {
    background-color: burlywood;
}

#ali {
    color: blue;
}

.coffee {
    color: green;
    background-color: orange;
}

#daneshkar {
    background-color: black;
    color: white;
    border: 2px yellow solid;
    margin: 40px 20px 40px 75%;
    padding: 0.5rem;
    justify-content: center;
}

#bootcamp {
    background-color: green;
    color: purple;
    border: 7px blue solid;
    margin: 40px 30px 40px 70%;
    padding: 0.5rem;
}