        body {
                font-family: Arial, sans-serif;
                margin: 50px;
                background-color: #000000;
            }

            img {
                border: 3px solid #ffffff;
                border-radius: 20px;
            }

            img {
                border: 3px solid #1e22ff;
            }

            figcaption {
                font-size: 12px;
                color: #f4b6b6;
                text-align:justify;
                margin-top: 14px;
            }

            h1 {
                font-size: 48px;
                color: #ffffff;
            }


            h2 {
                font-size: 30px;
                color: #ffffff;
            }
            h3 {
                font-size: 30px;
                color: #ffffff;
            }
            h4 {
                font-size: 30px;
                color: #ffffff;
            }

            p {
                font-size: 23px;
                color: #ffffff;
            }

            footer {
                text-align: center;
                margin-top: 50px;
                font-size: 14px;
                color: #888888;
            }
            a {
                color: #1e22ff;
                text-decoration: underline;
            }

            address {
                font-style: normal;
                color: #ffffff;
            }

            ol {
                color: #ffffff;
            }

            ul {
                color: #ffffff;
            }

            dl {
                color: #ffffff;
            }

            th,td {
                font-size: 15px;
                color: #ffffff;
            }


            form.form-example {
                display: table;
            }

                    div.form-example {
                    display: table-row;
                }

                    label,
                    input {
                    display: table-cell;
                    margin-bottom: 10px;
                    padding-right: 10px;
                    color: #ffffff;
                }


                legend {
                    font-size: 18px;
                    color: #ffffff;
                    margin-bottom: 20px;
                }



                botton {
                    padding: 10px 20px;
                    color: #ffffff;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                }

                